CERT_PATH=/https/fullchain.pem
CERT_KEYPATH=/https/privkey.pem

CERT_PASSWORD=your_cert_password

DOMAIN=your_domain

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

AWS_BUCKET_NAME=your_bucket_name
AWS_REGION=your_aws_region
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key

EMAIL_SERVER=your_email_server
EMAIL_PORT=your_email_port
EMAIL_SENDER_NAME=your_email_sender_name
EMAIL_SENDER_EMAIL=your_email_sender_email
EMAIL_SENDER_PASSWORD=your_email_sender_password

PAYOS_CLIENT_ID=your_payos_client_id
PAYOS_CLIENT_API_KEY=your_payos_client_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key
PAYOS_CANCEL_URL=your_payos_cancel_url
PAYOS_RETURN_URL=your_payos_return_url